<div class="bloc">
    <img src="../../../assets/img/vin.jpg" alt="">
    <app-header></app-header>
    <div class="middle">
        <h1>Soyez l'hôte parfait pour nos<br>vins de qualité</h1>
        <div class="boutonMiddle">
            <a href="#choix" class="btn1">
                <li><button class="btn">Découvrir</button></li>
            </a>
        </div>
    </div>
</div>

<div id="choix" class="choix_vin">
    <h1>Choississez votre type</h1>

    <div class="liste">
        <a href="#fff"><div class="card card1">Rouge</div></a>
        <a href="#ff"><div class="card card2">Blanc</div></a>
        <a href="#ffff"><div class="card card3">Rosé</div></a>
        <a href="#ffff"><div class="card card4">Champagne</div></a>
    </div>
</div>

<app-footer></app-footer>
